<div class="welcomeDiv">
    <h1>Welcome To My Wardrobe!</h1>
    <h3>Sign up here to be able to save your items and outfits! </h3>
    <form class="signIn">
        <input type="text" class="userNameInput"> Name</input>
        <button type='submit'> Sign In! </button>
    </form>
</div>