<div class="welcomeDiv">
    <h1>Welcome To My Wardrobe!</h1>
    <h3>Sign up here to be able to save your items and outfits! </h3>
    <form class="signIn">
        <lable for="user-name-input" class="" >Enter Name: </lable><br/>
        <input id="user-name-input" type="text" class="userNameInput" placeholder="Enter Your Name"/><br/>
        <button id="user-name-button"type='submit'> Sign In! </button>
    </form>
</div>

            