<div class="" id=" saved-outfits-content" role="tabpanel" aria-labelledby="saved-outfits-tab">
    <h2>Saved Outfits</h2>
    <div id='saved-outfits-message' class="overflow-hidden messages-to-user">
        <p>Message to the User</p>
    </div>

    <div id="outfits-container">
        {{#each outfits}}
        <div class="outfit-box">
            <h3>{{dataValues.name}}</h3>
            {{#each dataValues.items}}
            <div class="item">
                {{!-- <p> {{dataValues.name}}</p> --}} 
                <img  src="{{dataValues.imageURL}}" />
            </div>
            {{/each}}
            <button class="select-outfit" name="{{dataValues.id}}"> Select Outfit </button>
        </div>
        {{/each}}
    </div>

    <div class="overflow-hidden">
        <button id="delete-outfit" class="overflow-hidden">Delete Outfit</button>
        <button id="add-to-calendar" class="overflow-hidden">Add to Calender </button>
        <button id="remove-from-calendar" class="overflow-hidden">Remove from Calender </button>
    </div>