<div class="tab-pane fade" id="saved-outfits-content" role="tabpanel" aria-labelledby="saved-outfits-tab">
    <h2>Saved Outfits</h2>
    <button>Delete Outfit</button>

    <div id="outfits-container">
        <div class="outfit-box"></div>
        <div class="outfit-box"></div>
        <div class="outfit-box"></div>
    </div>

</div>