<div class="tab-pane fade" id="saved-outfits-content" role="tabpanel" aria-labelledby="saved-outfits-tab">
    <h2>Saved Outfits</h2>
    <button id="delete-outfit">Delete Outfit</button>
    <button id="add-to-calendar">Add to calender </button>
    <button id="remove-from-calendar">Remove from calender </button>
</div>
<!-- start content here for saved outfits -->

{{!-- <div id="outfits-container">
    {{#each outfits}}
    <div class="outfit-box">{{dataValues.name}}</div>
    {{/each}}
</div> --}}