<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>My Wardrobe</title>

  <!-- add icon link -->
  <link rel="icon" href="assets/img/icon.png" type="image/x-icon" />

  <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <!-- slick CSS for carousel -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />

  <!-- Bootstrap style stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <!-- My basic site style stylesheet -->
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/calander.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/create-outfit.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/saved-outfits.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/new-item.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/media-query.css" />

  <!-- google fonts  -->
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat&family=Open+Sans&display=swap"
    rel="stylesheet" />

  <!-- manifest file -->
  <link rel="manifest" href="manifest.json">


</head>

<body>
  {{{ body }}}


  <!-- service worker -->
  <script>
    // service worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('service-worker.js').then((reg) => {
          console.log('Our service worker file is installed', reg);
        });
      });
    }
  </script>

  <!-- jQuery CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- My javascript -->
  <script src="/assets/js/date.js"></script>
  <script src="/assets/js/messages.js"></script>
  <script src="/assets/js/calendar.js"></script>
  <script src="/assets/js/carousel.js"></script>
  <script src="/assets/js/savedOutfits.js"></script>
  <script src="/assets/js/uploadImage.js"></script>
  <script src="/assets/js/createOutfit.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/userStorage.js"></script>

  <!-- type="text/javascript" -->

  <!-- Bootstrap CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- moment CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <!-- slick cdn for carousels -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</body>

</html>