<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <input type="file" id="myFile" name="myFile" multiple enctype="multipart/form-data">
        <button class='myForm' type="submit">Submit</button>
    </form>
    <div class="example"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        const button = $('.myForm')
        const fileInput = $('#myFile')
        button.click((e) => {
            e.preventDefault()
            const theFile = $('#myFile')[0].files
            console.log(theFile);
            const formData = new FormData()
            Object.keys(theFile).forEach(key => {
                formData.append('image', theFile[key])
            });
            $.post({
                url: "/upload",
                data: formData,
                processData: false,
                contentType: false,
            }).then(async (res) => {
                console.log(res)
            })
        })
    </script>
</body>

</html>