/* -------------------- Create new outfit ---------------------- */


#outfit-view {
  width: 100%;
  height: 375px;
  overflow: unset;
  margin: 0;
  border-radius: 5px;
}

#outfit-creator {
  height: 330px;
  padding: 15px;
  overflow: hidden;
}

#outfit-creator>img {
  height: auto;
  max-height: 300px;
  max-width:20%;
}

#outfit-name {
  width: 150px;
  height: 54px;
}

#my-wardrobe-message {
  /* width: 182px;
  height:150px; */
}


/* -------------------- Wardrobe carousel styling ---------------------- */

.topsCarousel {
  overflow: hidden;
}

.bottomsCarousel {
  overflow: hidden;
}

.overallsCarousel {
  overflow: hidden;
}

.carousel > div > div > img:hover {
  transform: scale(1.1);
}

.slick-prev {
  margin-left: 40px;
  z-index: 3;
}

button.slick-prev.slick-arrow {
  border: unset;
}

.slick-next {
  margin-right: 40px;
  z-index: 3;
}

button.slick-next.slick-arrow {
  border: unset;
}

[dir='rtl'] .slick-prev {
  margin-left: 40px;
  z-index: 3;
  left: auto;
  right: 0px;
}

[dir='rtl'] .slick-next {
  margin-right: 40px;
  z-index: 3;
  right: auto;
  left: 0px;
}

