/* ------------------------ body styling ------------------------------ */
html {
  border:5px solid black;
  min-height: 100vh;
}

body {
  background-color: #F0EFEB;
}

* {
  box-sizing: border-box;
}

/* ------------------------ main styling ----------------------- */

main {
  min-width: 90%;
  min-height: 90vh;
  margin: 4vh;
  position: relative;
  border: 5px solid #DDBEA9;
  background-color: #EDDCD2;
} 

div.row {
  /* border: 1px solid green; */
  margin: 0;
  width: 100%;
  position: relative;
}

.col {
  margin: 0;
  padding: 0; 
  border: 1px solid blue;
}

.hide {
  visibility: hidden;
}

a, li, p, td, h2, h4, button, form  {
  font-family: Comfortaa;
}

a {
  color: #41755d;
}


/* ---------------------- nav bar ---------------------------------- */

nav.row {
  width: 100%;
  background-color: #EDDCD2;
  padding: 0;
  margin: 0;
  position: relative;
}

nav>ul {
  margin-top: 20px;
  margin-left: 20px;
  /* justify-content: center; */
  width: 100%;
}

nav>ul>li.nav-item {
  background-image: url(../img/extras/coat-hanger.png);
  background-repeat: none;
  height: 100px;
  width: 200px; 
  margin: 10px;
  position: relative;
  z-index: 1;
}

nav>ul>li.nav-item:hover {
  background-image: url(../img/extras/coat-hanger-hover.png);
  background-repeat: none;
}

nav>ul>li.nav-item>a.nav-link {
  position: absolute;
  bottom: 0;
  padding: 3px 30px;
  width:100%; 
  text-align: center;
  border-bottom: 3px solid black;
}

a.nav-link:hover, a:hover, .nav-item:hover {
    background-color: unset;
    border: unset;
}

nav>ul>li.nav-item>a.nav-link.active {
  color: blue;
  background-color: unset;
  border: unset;
}

div.folder {
  position: absolute;
  bottom: 0px;
  width: 90%; 
  margin: 0 20px;
  height: 110px;
  border: 3px solid black;
  border-bottom: unset;
  background-color: #f0efeb;
  z-index: 0;
  transform: translateY(-3px);
}

#second-folder {
  bottom: 110px;
  transform: translateY(-2px);
  width: 85%; 
}

#third-folder {
  bottom: 220px;
  transform: translateY(0px);
  width: 80%; 
}


/* -------------------- Section styling ---------------------- */

section.row {
  position: relative;
  width: 100%; 
  margin: 0;
  padding: 0;
  background-color: #EDDCD2;
}

section#content-view {
  min-height: 600px;
  padding: 0 20px;
}

div#content-folder {
  border: 3px solid black;
  background-color: #f0efeb; 
  min-height: 600px; 
  width: 100%;
  padding: 20px;
  transform: translateY(-3px);
}


/* -------------------- Wardrobe carousel styling ---------------------- */

.topsCarousel {
  overflow: hidden;
}

.bottomsCarousel {
  overflow: hidden;
}

.overallsCarousel {
  overflow: hidden;
}

/* -------------------- saved outfits styling ---------------------- */

button {
  width: 150px; 
  margin: 5px auto; 
  border-radius: 5px;
  background-color: #8AB7A2;
  color: white;
  border: 2px solid #BDD2C3; 
}

button:focus, button:active {
  width: 150px; 
  margin: 5px auto; 
  border-radius: 5px;
  background-color: #BDD2C3 ;
  color: white;
  border: 2px solid #8AB7A2; 
}

#outfits-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px; 
}

#outfits-creator {
  height: 500px;
}

.outfit-box {
  display: inline-block;
  height: 500px;
  width: 250px;
  border: 5px solid #8AB7A2;
  margin: 5px; 
  padding: 12px; 
}


/* ----------------- form styling ---------------------- */

form {
  padding-top: 15px;
}

#typeSelection {
  height: 40px;
  border: 1px solid #ced4da;
  color: #495057;
}

#topTypeSelected {
  display: none;
}

#bottomTypeSelected {
  display: none;
}

#overallTypeSelected {
  display: none;
}


/* ----------------- calendar styling ---------------------- */


#calendar-container { 
  bottom: 0; 
  min-height: 200px;
  padding: 10px;
}

.nav-title {
  padding: .5rem 1rem; 
  display: block;
  border-radius: .25rem;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

td {
  display: inline-block;
  background-color: #F0EFEB;
  width: 150px;
  height: 200px;
  margin: 6px 3px;
}


a.calendar-style:hover, td:hover {
  background-color: rgba(235, 235, 235, 0.63);
  cursor: pointer;
}

li.calendar-style, a.calendar-style {
  font-size:20px;
}


/* -------------------  SCROLL BAR  ------------------------- */
/* height */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0EFEB; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDD2C3; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8AB7A2; 
}

/*  ------------------- Media queries ------------------------ */

@media screen and (max-width: 550px) {
    
  #first-folder {
    width: 82%;
    transform: translateY(-2px);
  }


  #second-folder {
    width: 78%;
    transform: translateY(-1px);
  }
  
  #third-folder {
    width: 76%;
    transform: translateY(0px);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 550px) and (max-width: 790px) { 
  
  ul.nav.nav-tabs {
    width: 576px;
  }
  
  #third-folder {
    display: none;
  }

  #second-folder {
    display: none;
  }

  #first-folder {
    transform: translateY(-2px);
  }

}
  


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 790px) and (max-width: 991.98px) {

  #third-folder {
    display: none;
  }

  #second-folder {
    display: none;
  }
  
 ul.nav.nav-tabs {
    width: 790px;
  }


}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) { 
  
  #first-folder {
    transform: translateY(-2px);
  }

  #third-folder {
    display: none;
  }

  #second-folder {
    display: none;
  }

  ul.nav.nav-tabs {
    width: 790px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  
  #first-folder {
    display: none;
  }
  
  #second-folder {
    display: none;
  }

  #third-folder {
    display: none;
  }
}