/* ------------------------ body styling ------------------------------ */
html {
  border:5px solid black;
  min-height: 100vh;
}

body {
  background-color: #F0EFEB;
}

* {
  box-sizing: border-box;
}

/* ------------------------ main styling ----------------------- */

main {
  min-width: 90%;
  min-height: 90vh;
  margin: 4vh;
  position: relative;
  border: 5px solid #DDBEA9;
  background-color: #EDDCD2;
} 

div.row {
  /* border: 1px solid green; */
  margin: 0;
  width: 100%;
  position: relative;
}

.col-9, .col-11, .col-10, .col-2 {
  /* margin: 0;
  padding: 0;  */
  border: 1px solid blue;
  display: inline-block;
  vertical-align: top;
}

.hide {
  visibility: hidden;
}

a, li, p, td, h2, h3, h4, button, form  {
  font-family: Comfortaa;
}

a {
  color: #41755d;
}


/* ---------------------- nav bar ---------------------------------- */

nav.row {
  width: 100%;
  background-color: #EDDCD2;
  padding: 0;
  margin: 0;
  position: relative;
}

nav>ul {
  margin-top: 20px;
  margin-left: 20px;
  /* justify-content: center; */
  width: 100%;
}

nav>ul>li.nav-item {
  background-image: url(../img/extras/coat-hanger.png);
  background-repeat: none;
  height: 100px;
  width: 200px; 
  margin: 10px;
  position: relative;
  z-index: 1;
}

nav>ul>li.nav-item:hover {
  background-image: url(../img/extras/coat-hanger-hover.png);
  background-repeat: none;
}

nav>ul>li.nav-item>a.nav-link {
  position: absolute;
  bottom: 0;
  padding: 3px 30px;
  width:100%; 
  text-align: center;
  border-bottom: 3px solid black;
}

a.nav-link:hover, a:hover, .nav-item:hover {
    background-color: unset;
    border: unset;
}

nav>ul>li.nav-item>a.nav-link.active {
  color: blue;
  background-color: unset;
  border: unset;
}

div.folder {
  position: absolute;
  bottom: 0px;
  width: 90%; 
  margin: 0 20px;
  height: 110px;
  border: 3px solid black;
  border-bottom: unset;
  background-color: #f0efeb;
  z-index: 0;
  transform: translateY(-3px);
}

#second-folder {
  bottom: 110px;
  transform: translateY(-2px);
  width: 85%; 
}

#third-folder {
  bottom: 220px;
  transform: translateY(0px);
  width: 80%; 
}


/* -------------------- Section styling ---------------------- */

section.row {
  position: relative;
  width: 100%; 
  margin: 0;
  padding: 0;
  background-color: #EDDCD2;
}

section#content-view {
  min-height: 600px;
  padding: 0 20px;
}

div#content-folder {
  border: 3px solid black;
  background-color: #f0efeb; 
  min-height: 600px; 
  width: 100%;
  padding: 20px;
  transform: translateY(-3px);
}

/* -------------------- Wardrobe carousel styling ---------------------- */

.topsCarousel {
  overflow: hidden;
}

.bottomsCarousel {
  overflow: hidden;
}

.overallsCarousel {
  overflow: hidden;
}

.carousel>div>div>img:hover{
  transform: scale(1.1);
}

.slick-prev {
  margin-left: 40px;
  z-index: 3;
}

button.slick-prev.slick-arrow {
  border: unset;
}

.slick-next {
  margin-right: 40px;
  z-index: 3;
}

button.slick-next.slick-arrow {
  border: unset;
}

[dir='rtl'] .slick-prev {
  margin-left: 40px;
  z-index: 3;
  left: auto;
  right: 0px;
}

[dir='rtl'] .slick-next {
  margin-right: 40px;
  z-index: 3;
  right: auto;
  left: 0px;
}


/* ----------------- form styling ---------------------- */

form {
  padding-top: 15px;
}

#typeSelection {
  height: 40px;
  border: 1px solid #ced4da;
  color: #495057;
}

#topTypeSelected {
  display: none;
}

#bottomTypeSelected {
  display: none;
}

#overallTypeSelected {
  display: none;
}


/* -------------------  SCROLL BAR  ------------------------- */
/* height */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0EFEB; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDD2C3; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8AB7A2; 
}

