/* ------------------------ body styling ------------------------------ */
html {
  border:5px solid black;
  min-height: 100vh;
}

body {
  background-color: #F0EFEB;
}

* {
  box-sizing: border-box;
}

/* ------------------------ main styling ----------------------- */

main {
  min-width: 90%;
  min-height: 90vh;
  margin: 4vh;
  position: relative;
  border: 5px solid #DDBEA9;
  background-color: #EDDCD2;
} 

div.row {
  /* border: 1px solid green; */
  margin: 0;
  width: 100%;
  position: relative;
}

.col {
  margin: 0;
  border: 1px solid blue;
}

.hide {
  visibility: hidden;
}

a, li, p, td, h2, h4 {
  font-family: Comfortaa;
}

a {
  color: #41755d;
}


/* ---------------------- nav bar ---------------------------------- */

nav.row {
  width: 100%;
  background-color: #EDDCD2;
  padding: 0;
  margin: 0;
  position: relative;
}

nav>ul {
  margin-top: 20px;
  margin-left: 35px;
  /* justify-content: center; */
  width: 100%;
}

nav>ul>li.nav-item {
  background-image: url(../img/extras/coat-hanger.png);
  background-repeat: none;
  height: 100px;
  width: 320px; 
  position: relative;
  z-index: 1;
}

nav>ul>li.nav-item:hover {
  background-image: url(../img/extras/coat-hanger-hover.png);
  background-repeat: none;
  
}

nav>ul>li.nav-item>a.nav-link {
  position: absolute;
  bottom: 0;
  padding: 3px 50px;
  width:100%; 
  text-align: center;
  border-bottom: 3px solid black;
}

a.nav-link:hover, a:hover, .nav-item:hover {
    background-color: unset;
    border: unset;
}

nav>ul>li.nav-item>a.nav-link.active {
  color: blue;
  background-color: unset;
  border: unset;
}


/* -------------------- Section styling ---------------------- */

section.row {
  position: relative;
  width: 100%; 
  margin: 0;
  padding: 0;
  background-color: #EDDCD2;
}

section#content-view {
  height: 600px;
  padding: 0 20px;
}

div#content-folder {
  border: 3px solid black;
  background-color: #f0efeb; 
  height: 100%; 
  width: 100%;
  padding: 20px;
  transform: translateY(-3px);
}


/* -------------------- Wardrobe carousel styling ---------------------- */


/* ----------------- calander styling ---------------------- */

#calendar-container {
  position: absolute; 
  bottom: 0; 
  min-height: 200px;
  padding: 10px;
}

.nav-title {
  padding: .5rem 1rem; 
  display: block;
  border-radius: .25rem;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

td {
  display: inline-block;
  background-color: #F0EFEB;
  width: 150px;
  height: 200px;
  margin: 6px 3px;
}


a.calendar-style:hover, td:hover {
  background-color: rgba(235, 235, 235, 0.63);
  cursor: pointer;
}

li.calendar-style, a.calendar-style {
  font-size:20px;
}


/* -------------------  SCROLL BAR  ------------------------- */
/* height */
::-webkit-scrollbar {
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0EFEB; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BDD2C3; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8AB7A2; 
}